.jumbotron {
    background-image: url(../images/ksjanes_720.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid rgba(1, 0, 0, 0.1);
    background-color: white;
    margin-top: 2.2%;
    box-shadow: 1px 1px 1px #888888;
}

#myCarousel {}

.glyphicon glyphicon-chevron-right {
    opacity: 0.2;
}
